@import "tailwindcss";

@font-face {
  font-family: "SmithenGoulding";
  src: url('/fonts/SmithenGoulding.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-smithen: "SmithenGoulding", sans-serif;
}

.react-rotating-text-cursor { 
  animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) infinite; 
}

@keyframes blinking-cursor { 
  0% { opacity: 0; } 
  50% { opacity: 1; } 
  100% { opacity: 0; } 
}

* {
  margin: 0;
  padding: 0;
}

html, body, #root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}